<nb-layout>
  <nb-layout-column>
    <div class="row justify-content-center">
      <nb-card>
        <nb-card-body>
          <div class="col">
            <h2 class="title">Couldn't log in</h2>
            <p class="sub-title">
              Sorry, we weren't able to authenticate you. Either you cancelled sign-up/sign-in, or there was an error.
              Please perform CPR and try again.
            </p>
            <button (click)="logIn()" type="button" class="btn btn-block btn-hero-primary">
              Try again
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
