<div class="row">
  <div *ngIf="globals.buildType === 'scenario'" class="col-xxl-12">
    <ngx-details-component *ngIf="stepper.selectedIndex == 0"></ngx-details-component>
    <ngx-history-component-build *ngIf="stepper.selectedIndex == 1"></ngx-history-component-build>
    <div class="row">
      <div class="col-md-1">
        <button nbButton shape="round" hero size="small" status="primary" class="nav-buttons" (click)="previousPressed($event)">
          <i class="nb-arrow-left"></i>
        </button>
      </div>
      <div class="col-md-10">
        <nb-stepper #stepper orientation="horizontal" class="stepper">
          <nb-step [label]="labelOne">
            <ng-template #labelOne>Details</ng-template>
          </nb-step>
          <nb-step [label]="labelTwo">
            <ng-template #labelTwo>History</ng-template>
          </nb-step>
          <nb-step [label]="labelThree">
            <ng-template #labelThree>Investigations</ng-template>
          </nb-step>
          <nb-step [label]="labelFour">
            <ng-template #labelFour>Management</ng-template>
          </nb-step>
        </nb-stepper>
      </div>
      <div class="col-md-1">
        <button nbButton shape="round" hero size="small" status="primary" class="nav-buttons" (click)="nextPressed($event)">
          <i class="nb-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="globals.buildType === 'questions'" class="col-xxl-12">
      <ngx-build-questions></ngx-build-questions>
  </div>
</div>