@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons";

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 160px;
    margin: -0.5rem 0;
    opacity: 0.7;
  }

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(color-fg);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-fg-heading);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}
